<footer>
	<div class="container">
		<div class="row justify-content-between py-3">
		    <div class="col-12">
	  			<ul class="footer-nav list-inline text-center">
	  				<li class="list-inline-item"><a href="#">Privacy Policy </a> </li>
					<li class="list-inline-item"><a href="#">Terms & Conditions</a></li>
					<li class="list-inline-item"><a href="#">Contact Us</a></li>
	  			</ul>
	  		
		    </div>
		    
		</div>
			<hr>
				<div class="row justify-content-between py-3 text-white">
		    <div class="col-md-4">
	  		Powered by Goomo<br><br>
		    </div>
		     <div class="col-md-4 text-center">
	  		Call us for Support:<br>
<h5 class="text-white">+91 987 180 3333/ +91 9744003333</h5><br>
		    </div>
		     <div class="col-md-4 text-right">
	  		 © 2018 Goomo. All Rights Reserved 
		    </div>
		    
		</div>
	</div>
</footer>