.package_content{
	position: relative;
	top: -100px;
	margin-bottom: -70px;
}
.pb-0{
    padding-bottom:0px !important;
}
 @include media-breakpoint-between(xs, md) {

.text-xs-center{
    text-align:center;
}
.sidebar{
    order:1;
}
.content-box{
    order:2;
}
}
.divider{
	height: 1px;
	&--dashed{
		border-bottom: 1px dashed $gray-600;
	}
}

.blue-bg{
	background-color: lighten(theme-color("primary"), 72);
}

.company-card{
	.btn-secondary{
		color: $white;
	}
}
.affix{
	    position: fixed;
    	width: 310px;
    	top:120px;
     @include media-breakpoint-between(xs, md) {
        	position:relative;
        	width:100%;
            top: 0px;
    	 }
        @include media-breakpoint-only(xl) {
            width: 370px;
         }
}
.fixed-top {
	background:#fff;
    padding: 15px 45px;
    box-shadow: 2px 2px 2px #ccc;
    @include media-breakpoint-between(xs, md) {
    width: 100%;
    overflow: scroll;
    display: flex;
    }
}
.btn{
	height: 50px;
	font-size:18px;
    text-transform: uppercase;
}
.applied{
	border: 1px solid #28a745;
    color: #28a745;
    width: 80%;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
}
.not-applied{
	border: 1px solid #FF5722;
    color: #FF5722;
    width: 80%;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
}


a.morelink {
	text-decoration:none;
	cursor: pointer;
    font-family: "museo-sans-rounded-700";
	outline: none;
	color: theme-color("secondary");
}
.morecontent span {
	display: none;
}
.comment {
	width: 100%;
}
.airline-details{
    img{
     width: 20px;
    height: 20px;
    border-radius: 100%;
    }
}

#other-details{
	.view-tour{
    margin: auto;
    display: block;
    width: 200px;
    background: #fff;
    box-shadow: 0px 2px 4px #a5a5a5;
    margin-bottom: 10px;
    color: #015670;
    font-wieght:200!important;
	}
}
.font-weight-light {
	sm{
		font-size: 14px;
		color: theme-color("primary");
		font-family: "museo-sans-rounded-700";
        @include media-breakpoint-between(xs, md) {
        display:block;
        }
	}
}
table {
    border-collapse: collapse;
    width: 137% !important;
    max-width:170% !important;
    overflow-x: scroll;
}
.table-striped tbody tr:nth-of-type(odd) {
background-color: rgba(127, 175, 189, 0.05);
}
 @include media-breakpoint-between(xs, md) {
body table {
    width: 300% !important;
    max-width:300% !important;
}
}
.table thead th {
    vertical-align: middle !important;
}
.search-bar{
    width:100% !important;
    .input-group-text{
        background:none;
        border: 0px;
        position: absolute;
        top: 16px;
    }
}
.search-container{
    margin-top:30px;
@include media-breakpoint-only(xs) { 
    margin-top: 0px;
     button{
        width: 93% !important;
        margin:auto;
    }
}
.form-search{
    input{
    width: 100% !important;
    height: 60px;
    box-shadow: 1px 1px 13px #ccc;
    border: 0px;
    padding-left: 34px;
}

    button{
    color:white;
    height:60px;
    
    }
}
}


.group{
    position:relative;
    width:100%;
    margin-bottom:30px;
  input{
    border:none;
    border-bottom:1px solid #005670;
    padding:10px;
    display:block;

    width:100%;
    &:focus{
        outline:none;
    }
    &:focus ~ label, &:valid ~label{
        top:-10px;
        font-size:17px;
        color:#005670;
    }
  }
  label{
    position:absolute;
    color:#ccc;
    top:12px;
    font-size: 16px;
    left:0;
    transition:0.2s ease all;
    }
}
.bar{
    position:relative;
    display:block;
    width:100%; 
  &:before{
    content:"";
    position:absolute;
    left:50%;
    right:50%;
    bottom:0;
    background:#005670;
    height:4px;
    transition:left 0.2s ease-out,
    right 0.2s ease-out;
}
  
}
input:focus ~ .bar:before{left:0; right:0;}

