body{
	background-color: #F2F2F2;
}

.top-links{
	padding: 15px 0;
	a{
		text-transform: uppercase;
		font-weight: 600;
		color: $gray-900;
		font-size: 15.2px;
		&.active{
			color: theme-color("secondary");
		}
		&:hover{
			text-decoration: none;
			// color: theme-color("secondary");
		}
	}
}