#tour-Itinerary{
	.btn{
		text-transform: capitalize;
		font-size: 16px;
    	padding-top: 0;
    	font-weight: 800;
    	height: 42px;
     @include media-breakpoint-between(xs, md) {
        white-space: normal;
        height:auto;
        padding-left:23px;
       }
	}
	.timeline_location{
		font-size: 14px;
		line-height: 20px;
		font-family: "museo-sans-rounded-700";
	}
	li{
    width: 31%;
    @include media-breakpoint-only(xs) {
        width: 100%;
        margin-bottom: 20px;
       }
   @include media-breakpoint-only(xl) {
        width: 32%;
       }
    .star{
		i{
			display: inline-block;
			font-size: 14px;
			color:theme-color("secondary");
		}
   	 }

   	 }
   	 .venue-details{
   	 	li{
   	 		.row{
   	 			    border: 1px solid #f3f3f3;

   	 		}
   	 		div{
   	 			margin:0px;
   	 			padding: 0px;
   	 		}
   	 	}
   	 }
	}

 @include media-breakpoint-between(xs, md) {
    #flight-information{
    text-align:center;
        .airline-details{
        text-align:center;
        }
      .divider-hr{
        padding:20px 0px;
        img{
          display:block;
          margin:auto;
        }
      }
    }
    #important-details{
    padding:10px !important;
    }
}
