{{ define "main" }}
 	<div class="package_bg" style="background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.7) 100%), url({{"img/pexels-photo-705075.jpeg" | absURL}})"></div>
	<div class="container package_content">
		<div class="row">
			<div class="col-8">
				<h1 class="text-white package_title">
					Ecstatic Bali Tour Package <br>
					<small>(23rd - 27th July)5 Days & 4 Nights</small>
				</h1>

				<div class="row mt-5 mb-3 top-links">
					<div class="col-3">
						<a href="#" class="active">The Tour Overview</a>
					</div>
					<div class="col-3">
						<a href="#">The Tour Itinerary</a>
					</div>
					<div class="col-3">
						<a href="#">Important Details</a>
					</div>
				</div>

				<div class="card shadow-sm p-4 mb-4">
					<h4 class="font-weight-light text-black-50">Highlights of the tour</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					<h4 class="font-weight-light text-black-50 mt-3">Overview of the tour</h4>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
				</div>

				<div class="card shadow-sm p-4 mb-4">
					<h4 class="font-weight-light text-black-50">The Tour Itinerary</h4>

					<div class="accordion tour-collapse" id="tourAccordion">
					  <div class="px-1">
					    <div class="" id="headingOne">
					      <h5 class="mb-0 py-1">
					        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					        	<span class="font-weight-light">DAY 1</span> - Arrive Bali
					        </button>
					      </h5>
					    </div>

					    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#tourAccordion">
					      <div class="card-body px-3 py-2">
					      	<div class="row">
					      		<div class="col-md-3 col-6">
					      			<img src="{{"img/pexels-photo-705075.jpeg" | absURL}}" class="img-fluid">
					      		</div>
					      		<div class="col-md-9 col-6">
					        		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
					      		</div>
					      	</div>

					      	<div class="row my-3">
					      		<div class="col-md-4">
					      			<div class="card shadow-sm p-2 h-100">
					      				<h6>Hotel Name</h6>
					      				<h6 class="font-weight-bold">Grand Whiz Nusa Dua</h6>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="card shadow-sm p-2 h-100">
					      				<h6>Lunch Venue</h6>
					      				<h6 class="font-weight-bold">Highway Relax Bar & Restaurant</h6>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="card shadow-sm p-2 h-100">
					      				<h6>Dinner Venue</h6>
					      				<h6 class="font-weight-bold">Restaurant Locavore</h6>
					      			</div>
					      		</div>
					      	</div>
					      </div>
					    </div>
					  </div>
					  <div class="px-1">
					    <div class="" id="headingTwo">
					      <h5 class="mb-0 py-1">
					        <button class="btn btn-link btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					          <span class="font-weight-light">DAY 2</span> - Bali - Tanjung Benoa & Uluwatu Temple + Kecak Dance Performance
					        </button>
					      </h5>
					    </div>
					    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#tourAccordion">
					      <div class="card-body px-3 py-2">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					      </div>
					    </div>
					  </div>
					  <div class="px-1">
					    <div class="" id="headingThree">
					      <h5 class="mb-0 py-1">
					        <button class="btn btn-link btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					          <span class="font-weight-light">DAY 3</span> - Bali - Full Day Kintamani Tour
					        </button>
					      </h5>
					    </div>
					    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#tourAccordion">
					      <div class="card-body px-3 py-2">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					      </div>
					    </div>
					  </div>
					</div>
				</div>

				<div class="card shadow-sm p-4">
					<h4 class="font-weight-light text-black-50 mb-4">Important Details</h4>

					<div class="row">
						<div class="col-md-8">
							<div>
								<h5 class="font-weight-bold text-primary text-uppercase">Travel Details:</h5>
								<div class="row">
									<div class="col-6">
										<h6 class="font-weight-bold text-black-50">Travel Hub City: <span class="text-dark">Delhi</span></h6>
									</div>
									<div class="col-6">
										<h6 class="font-weight-bold text-black-50">Base City: <span class="text-dark">Jalandhar</span></h6>
									</div>
								</div>
								<div class="divider--dashed my-3"></div>
							</div>

							<div class="mt-4">
								<h5 class="font-weight-bold text-primary text-uppercase">Airlines:</h5>
								<div class="d-flex align-items-center my-3">
									<h6 class="font-weight-bold text-black-50 mb-0 mr-2">Departure</h6> Spice Jet <span class="text-black-50 pl-2"> (SG105 0500-1420)</span>
								</div>
								<div class="row">
									<div class="col-5 pr-1">
										<h6 class="font-weight-bold text-dark mb-0">Delhi (DEL)</h6>
										<div class="font-weight-bold text-black-50">Wed, 23 JULY, 10:15</div>
										<div class="small text-black-50">
											Indira Gandhi
											International Airport
										</div>
									</div>
									<div class="col-2 px-1">
										<div class="small text-center">
											13h 35m
										</div>
									</div>
									<div class="col-5 pl-1">
										<h6 class="font-weight-bold text-dark">Bali-Denpasar (DPS)</h6>
										<div class="font-weight-bold text-black-50">Wed, 23 JULY, 16:15</div>
										<div class="small text-black-50">
											Ngurah Rai Airport
										</div>
									</div>
								</div>

								<div class="d-flex align-items-center mt-4 my-3">
									<h6 class="font-weight-bold text-black-50 mb-0 mr-2">Arrival</h6> Spice Jet <span class="text-black-50 pl-2"> (SG105 0500-1420)</span>
								</div>
								<div class="row">
									<div class="col-5 pr-1">
										<h6 class="font-weight-bold text-dark">Bali-Denpasar (DPS)</h6>
										<div class="font-weight-bold text-black-50">Mon, 27 JULY, 10:15</div>
										<div class="small text-black-50">
											Ngurah Rai Airport
										</div>
									</div>
									<div class="col-2 px-1">
										<div class="small text-center">
											13h 35m
										</div>
									</div>
									<div class="col-5 pl-1">
										<h6 class="font-weight-bold text-dark mb-0">Delhi (DEL)</h6>
										<div class="font-weight-bold text-black-50">Mon, 27 JULY, 16:15</div>
										<div class="small text-black-50">
											Indira Gandhi
											International Airport
										</div>
									</div>
								</div>
								<div class="divider--dashed my-4"></div>
							</div>

							<div class="mt-4">
								<h5 class="font-weight-bold text-primary text-uppercase">Visa Status:</h5>
								<table class="table table-sm">
									<thead class="thead-light">
									    <tr>
									      <th scope="col">Country</th>
									      <th scope="col">Status</th>
									      <th scope="col">Expected Date</th>
									    </tr>
									</thead>
									<tbody>
									    <tr>
									      <th scope="row">Indonesia Visa</th>
									      <td>Applied</td>
									      <td>10th May 18</td>
									    </tr>
									    <tr>
									      <th scope="row">UK Visa</th>
									      <td>To be applied</td>
									      <td>13th May 18</td>
									    </tr>
									</tbody>
								</table>
								<div class="divider--dashed my-4"></div>
							</div>

							<div class="mt-4">
								<h5 class="font-weight-bold text-primary text-uppercase">Food Requirements:</h5>
								<h6 class="font-weight-bold text-dark mb-0">Non Vegetarian Food</h6>
								<div class="divider--dashed my-4"></div>
							</div>

							<div class="mt-4">
								<h5 class="font-weight-bold text-primary text-uppercase">Special Requests:</h5>
								<h6 class="font-weight-bold text-dark mb-0">Food, Club, Travel, Adventure, etc.</h6>
								<div class="divider--dashed my-4"></div>
							</div>
						</div>

						<div class="col-md-4"></div>
					</div>
				</div>
			</div>

			<!-- Sidebar -->
			<div class="col-4">
				<div class="card shadow-sm p-3 text-primary">
					<div class="circle-img bg-white d-flex justify-content-center align-items-center position-absolute shadow-sm">
						<img src="{{"img/dummy.png" | absURL}}">
					</div>
					<div class="my-4"></div>

					<div>Company Name:</div>
					<h5 class="mb-4">AACT TOURS & TRAVELS</h5>

					<div>Division Name:</div>
					<h5 class="mb-4">Travel Management</h5>

					<div>Group No. & Name:</div>
					<h5 class="mb-4">Lorem ipsum dolor sit amet</h5>

					<button type="button" class="btn btn-secondary btn-block">Contact Us</button>
				</div>
			</div>
		</div>
	</div>
{{ end }}