{{ define "main" }}
 	<div class="package_bg" style="background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.7) 100%), url({{"img/pexels-photo-705075.jpeg" | absURL}})"></div>
	<div class="container package_content">
		<div class="row">
			<div class="col-8">
				<h1 class="text-white package_title">
					Ecstatic Bali Tour Package <br>
					<small>(23rd - 27th July)5 Days & 4 Nights</small>
				</h1>

				<div class="row my-5">
					<div class="col-3">
						<a href="#">The Tour Overview</a>
					</div>
					<div class="col-3">
						<a href="#">The Tour Itinerary</a>
					</div>
					<div class="col-3">
						<a href="#">Important Details</a>
					</div>
				</div>

				<div class="card p-3">
					<h4>Highlights of the tour</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					<h4>Overview of the tour</h4>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
				</div>
			</div>

			<!-- Sidebar -->
			<div class="col-4">
				<div class="card p-3 text-primary">
					<div class="circle-img bg-white d-flex justify-content-center align-items-center position-absolute shadow-sm">
						<img src="{{"img/dummy.png" | absURL}}">
					</div>
					<div class="my-4"></div>

					<div>Company Name:</div>
					<h5 class="mb-4">AACT TOURS & TRAVELS</h5>

					<div>Division Name:</div>
					<h5 class="mb-4">Travel Management</h5>

					<div>Group No. & Name:</div>
					<h5 class="mb-4">Lorem ipsum dolor sit amet</h5>

					<button type="button" class="btn btn-secondary btn-block">Contact Us</button>
				</div>
			</div>
		</div>
	</div>
{{ end }}