{{ define "main" }}
 		<div class="package_bg_home" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.7) 100%), url({{"img/aircraft-airplane-airport-166006.jpg" | absURL}})">
 		<div class="container banner-content">
 		<div class="row pt-4 text-center">
 		<div class=" col-lg-2 col-md-1">
 		</div>
			<div class=" col-lg-8 col-md-10 text-white">
			<h1 class="bolder"> What is Goomo MICE?</h1>
			<h4 class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </h4>
			</div> 
		<div class=" col-lg-2 col-md-1">
 		</div>
 		</div>
 		<div class="row pt-4 text-center search-container">
 		<div class=" col-lg-2 col-md-1">
 		</div>
			<div class=" col-lg-8 col-md-10">
			<form class="form-inline form-search">
			  <div class=" col-lg-10 col-md-9 col-sm-10 mb-2">
			  <div class="input-group search-bar">
        <div class="input-group-prepend search-bar">
          <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-search"></i></span>
           <input type="text" class="form-control" id="validationCustomUsername" placeholder="Search the company you are traveling with…" aria-describedby="inputGroupPrepend" required>
        </div>
       
      </div>
			  
			  </div>
			  <button type="submit" class="btn btn-secondary mb-2">Search</button>
			</form>
			</div> 
		<div class=" col-lg-2 col-md-1">
 		</div>
 		</div>
 	</div>
 	</div>
<section>
<div class="container pt-2">
<h1 class="bolder text-center pt-5 pb-4"> Current Goomo tours </h1>
  <div id="image-gallery">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      	<a data-toggle="modal" data-target="#login">
        <img src="{{"img/travellogos/1.png" | absURL}}" alt="Image" class="img-fluid" >
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a data-toggle="modal" data-target="#login">
        <img src="{{"img/travellogos/2.png" | absURL}}" alt="Image" class="img-fluid">
        </a>
      </div>
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
       <a data-toggle="modal" data-target="#login">
       <img src="{{"img/travellogos/3.png" | absURL}}" alt="Image" class="img-fluid">
       </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a data-toggle="modal" data-target="#login">
       <img src="{{"img/travellogos/4.png" | absURL}}" alt="Image" class="img-fluid">
       </a>
      </div>
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
       <a data-toggle="modal" data-target="#login">
       <img src="{{"img/travellogos/6.png" | absURL}}" alt="Image" class="img-fluid">
       </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a data-toggle="modal" data-target="#login">
        <img src="{{"img/travellogos/7.png" | absURL}}" alt="Image" class="img-fluid">
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a data-toggle="modal" data-target="#login">
        <img src="{{"img/travellogos/8.png" | absURL}}" alt="Image" class="img-fluid">
        </a>
      </div>
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
       <a data-toggle="modal" data-target="#login">
        <img src="{{"img/travellogos/9.png" | absURL}}" alt="Image" class="img-fluid">
        </a>
      </div>
     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
     <a data-toggle="modal" data-target="#login">
    <img src="{{"img/travellogos/10.png" | absURL}}" alt="Image" class="img-fluid">
    </a>
      </div>
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
       <a data-toggle="modal" data-target="#login">
       <img src="{{"img/travellogos/11.png" | absURL}}" alt="Image" class="img-fluid">
       </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a data-toggle="modal" data-target="#login">
       <img src="{{"img/travellogos/12.png" | absURL}}" alt="Image" class="img-fluid">
       </a>
      </div>
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
       <a data-toggle="modal" data-target="#login">
       <img src="{{"img/travellogos/1.png" | absURL}}" alt="Image" class="img-fluid">
       </a>
      </div>
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
       <a data-toggle="modal" data-target="#login">
       <img src="{{"img/travellogos/2.png" | absURL}}" alt="Image" class="img-fluid">
       </a>
      </div>
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
       <a data-toggle="modal" data-target="#login">
        <img src="{{"img/travellogos/3.png" | absURL}}" alt="Image" class="img-fluid">
        </a>
      </div>
     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
     <a data-toggle="modal" data-target="#login">
    <img src="{{"img/travellogos/4.png" | absURL}}" alt="Image" class="img-fluid">
    </a>
      </div>
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
       <a data-toggle="modal" data-target="#login">
        <img src="{{"img/travellogos/5.png" | absURL}}" alt="Image" class="img-fluid">
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a data-toggle="modal" data-target="#login">
       <img src="{{"img/travellogos/6.png" | absURL}}" alt="Image" class="img-fluid">
       </a>
      </div>
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
       <a data-toggle="modal" data-target="#login">
        <img src="{{"img/travellogos/7.png" | absURL}}" alt="Image" class="img-fluid">
        </a>
      </div>
    </div><!-- End row -->
    <button type="button" class="btn btn-primary btn-link btn-view-more" id="gallery-btn">View All <i class="fas fa-angle-down"></i></button>
    <button type="button" class="btn btn-primary btn-link btn-view-less" id="gallery-btn">View less <i class="fas fa-angle-up"></i></button>
  </div><!-- End image gallery -->
</div><!-- End container -->
<section>
<section class="bg-gray">
	<div class="container text-center pb-5">
	<h1 class="bolder text-center pt-5 pb-4"> Welcome to Goomo Mice Program
</h1>
<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h5>
		
	</div>
</section>
<section class="pb-5">
	<div class="container text-center">
	<h1 class="bolder text-center pt-5 pb-4"> Companies Listed on Goomo MICE
</h1>

<div class="container-fluid">
    <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
        <div class="carousel-inner row w-100 mx-auto" role="listbox">
            <div class="carousel-item col-md-3  active">
               <div class="panel panel-default">
                  <div class="panel-thumbnail">
                    <a href="#" title="image 1" class="thumb">
                      <img class="img-fluid mx-auto d-block" src="https://logopond.com/logos/a43dac1fe93ec52f488adcaee31c6d1a.png" alt="slide 1">
                    </a>
                  </div>
                </div>
            </div>
            <div class="carousel-item col-md-3 ">
               <div class="panel panel-default">
                  <div class="panel-thumbnail">
                    <a href="#" title="image 3" class="thumb">
                     <img class="img-fluid mx-auto d-block" src="https://logopond.com/logos/021973a379b5e3f395b0c0144d2f8e64.png" alt="slide 2">
                    </a>
                  </div>
                </div>
            </div>
            <div class="carousel-item col-md-3 ">
               <div class="panel panel-default">
                  <div class="panel-thumbnail">
                    <a href="#" title="image 4" class="thumb">
                     <img class="img-fluid mx-auto d-block" src="https://logopond.com/logos/a473a5921e088bcb9fa9a85024f1d66a.png" alt="slide 3">
                    </a>
                  </div>
                </div>
            </div>
            <div class="carousel-item col-md-3 ">
                <div class="panel panel-default">
                  <div class="panel-thumbnail">
                    <a href="#" title="image 5" class="thumb">
                     <img class="img-fluid mx-auto d-block" src="https://logopond.com/logos/a67bb6d65f7f12ce1a28b4829ff90110.png" alt="slide 4">
                    </a>
                  </div>
                </div>
            </div>
            <div class="carousel-item col-md-3 ">
              <div class="panel panel-default">
                  <div class="panel-thumbnail">
                    <a href="#" title="image 6" class="thumb">
                      <img class="img-fluid mx-auto d-block" src="https://logopond.com/logos/c9431379ffb78d0f346fe52cad0b5fb3.png" alt="slide 5">
                    </a>
                  </div>
                </div>
            </div>
            <div class="carousel-item col-md-3 ">
               <div class="panel panel-default">
                  <div class="panel-thumbnail">
                    <a href="#" title="image 7" class="thumb">
                      <img class="img-fluid mx-auto d-block" src="https://logopond.com/logos/a8bd1b70dda8b89692e3d3085b062b42.png" alt="slide 6">
                    </a>
                  </div>
                </div>
            </div>
            <div class="carousel-item col-md-3 ">
               <div class="panel panel-default">
                  <div class="panel-thumbnail">
                    <a href="#" title="image 8" class="thumb">
                      <img class="img-fluid mx-auto d-block" src="https://logopond.com/logos/6e01cc8ee26ad933ae5008d5fa82374f.png" alt="slide 7">
                    </a>
                  </div>
                </div>
            </div>
             <div class="carousel-item col-md-3  ">
                <div class="panel panel-default">
                  <div class="panel-thumbnail">
                    <a href="#" title="image 2" class="thumb">
                     <img class="img-fluid mx-auto d-block" src="https://logopond.com/logos/2a99dcc1f68fba9166f21d112fe90aa3.png" alt="slide 8">
                    </a>
                  </div>
                  
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
            <i class="fas fa-angle-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
            <i class="fas fa-angle-right"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
		
	</div>
</section>
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h2 class="modal-title bolder text-primary" id="login">Login</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  
			  <form>
			    <div class="group">      
			      <input type="text" required>
			      <span class="highlight"></span>
			      <span class="bar"></span>
			      <label>Enter First Name</label>
			    </div>
			    <div class="group">      
			      <input type="text" required>
			      <span class="highlight"></span>
			      <span class="bar"></span>
			      <label>Enter Mobile Number</label>
			    </div>
			  </form>
			  <div>
			  	<a href="" class="float-right text-info"><h5> Forget Password? </h5></a>
			  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block text-white" data-dismiss="modal">LOGIN</button>
      </div>
    </div>
  </div>
</div>
{{ end }}